/*
 * --------------------------------
 * FOOTER Y REDES SOCIALES
 * --------------------------------
 */

footer {
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
    border-top: 2px solid #D2B48C;
    background-color: #fffaf7; 
    border-radius: 0 0 15px 15px; /* Bordes redondeados solo abajo */
}

.footer-hr {
    margin-bottom: 0;
}

footer h3 {
    font-size: 1.8em;
    margin-bottom: 10px;
}

.direccion-tienda {
    font-size: 1em;
    margin-bottom: 15px;
    color: #5C4033;
}

.direccion-tienda a {
    color: #5C4033;
    text-decoration: none;
    font-weight: bold;
}

.direccion-tienda a:hover {
    text-decoration: underline;
    color: #8B4513;
}

.redes-sociales {
    margin-bottom: 20px;
}

.redes-sociales a {
    color: #A0522D; /* Tono tierra */
    text-decoration: none;
    font-weight: bold;
    margin: 0 8px;
    padding: 8px 12px;
    border: 1px solid #D2B48C;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.3s, color 0.3s;
}

.redes-sociales a:hover {
    background-color: #A0522D;
    color: white;
}

.redes-sociales i {
    margin-right: 5px;
}

.copyright {
    font-size: 0.8em;
    color: #999;
}
